assets/
dist/*
games/mario64DS/*.nds
eden/Eden-Linux-v0.0.4-amd64-clang-pgo.AppImage
assets/ogg-sounds.zip
dolphin-emulator.zip
bkup
main.zip
venv
games/mario64/baserom.us.z64
games/mario3dland/sm3dland.cci
games/marioGalaxy/SuperMarioGalaxy.wbfs
games/marioGalaxy2/SuperMarioGalaxy2.wbfs
games/mariosunshine/SuperMarioSunshine-TropicalFreeze.iso
games/mariosunshine/SuperMarioSunshine.iso
eden/Firmware.19.0.1.zip
eden/Pr0dK3ys.v19.0.1/
# Game ROMs (not included in repository)
games/**/*.wbfs
games/**/*.iso
games/**/*.nds
games/**/*.cci
games/**/*.z64
games/**/*.n64
games/**/*.sav
games/**/*.srm
games/**/*.xci
games/**/*.nsp
